


body{
    background-color: black;
}


   

.traffic-light {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: black;
    padding: 10px;
    border-radius: 10px;
    border: 10px solid;
    border-color: gray;
    width: 170px;
    height: 510px;
    background-color: white;
    justify-self: center;
    
}
.light {
    border-radius: 50%;
    transition: background 0.5s;
    border: 10px solid;
    width: 100px;
    height: 100px;
    margin-top: 30px;
    border-color: gray;
    padding: 25px 25px;
    transition: background 0.5ms;

    }
    
    .red.active {
        background: red;
    }
    
    .yellow.active {
        background: yellow;
    }
    
    .green.active {
        background: green;
    }

    
